$app: #df5d4f; // http://themeforest.net/item/cor-a-fresh-tumblr-theme/full_screen_preview/4239073
$app: #E74C3C; // Alizarin    (http://designmodo.github.io/Flat-UI/)
$app: #1ABC9C; // Turquoise   (http://designmodo.github.io/Flat-UI/)
$app: #34495E; // Graphite    (http://designmodo.github.io/Flat-UI/)
$app: #3498DB; // Peter River (http://designmodo.github.io/Flat-UI/)
$app: #efebe3;

$contrast: #df5d4f;
$contrast: #3498DB;
$contrast: #E74C3C;
