@import "compass";
@import "settings";
@import "normalize";
@import "foundation";
@import "syntax";
@import "colors";
@import "blockquote";
@import "mixins";

html {
  background: $app;
}
body {
  padding: 0 0 50px 0;

  background: $app;

  color: darken($app, 70);
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.5;
}

.wordmark {
  opacity: 0;
  @include animation(fadein 0.5s 0.5s both);  
}

@include keyframes(fadein) {
    from { opacity: 0; }
    to   { opacity: 1; }
}

hr {
  border: 1px solid darken($app, 2);
  border-width: 1px 0;
  border-top-color: lighten($app, 2);
}

a {
  @include transition(0.1s all ease-in-out);
  color: $contrast;

  &:hover {
    @include standout-text;

    background: $contrast;

    color: #fff;
  }
}

h1, h2, h3, h4 {
  color: darken($app, 60);
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

h4 {
  color: darken($app, 15);
}

header.home {
  margin: 0;
  padding: 50px 0 0 0;

  img {
    display: none;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: -15px 20px 0 0;
  }
  h1 {
    font-size: 64px;

    a {
      background: none;

      color: $contrast;
      font-weight: 200;

      &:hover { color: #fff; background: $contrast }
    }
  }
}

header.post {
  background: $contrast;
  padding: 15px 0;

  h1 { 
    margin: 0; 
    font-size: 1.5em;
    a {
      color: #fff;

      &:hover {
        @include standout-text(darken($contrast, 12));

        background: darken($contrast, 8);
      }
    }
  }
  nav { margin: 0; }
  a {
    color: #fff;

    &:hover {
      @include standout-text(darken($contrast, 12));

      background: darken($contrast, 8);
    }
  }
}

article h1 {
  font-size: 2.3125em;
}

.more-reading ul h2 {
  font-size: 1.5em;
}

.byline {
  opacity: 0;
  @include animation(fadein 1s both);
  @include animation-delay(1s);

  background: $contrast;

  h1, h2 {
    margin-top: 0.5em;

    color: #fff;
    font-size: 2em;
    line-height: 1.5;
  }

  a {
    @include standout-text;

    color: #fff;
    font-weight: 700;

    &:hover {
      @include standout-text(darken($contrast, 12));

      background: darken($contrast, 10);
    }
  }
}

.posts {
  padding-top: 1px;

  @include animation(fadein 1s both);
  @include animation-delay(1.5s);
}

.post {
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 1px solid lighten($app, 5);
  border-bottom: 1px solid darken($app, 5);

  &:first-child { border-top: none; }
  &:last-child  { border-bottom: none; }

  nav {
    margin: 0 0 20px 0;
    font-size: 1.2em;
  }

  header {
    padding-top: 0;
    margin-top: -20px;

    position: relative;

    h1 {
      font-size: 64px;
      color: darken($app, 60);
    }
    .meta {
      font-size: 2em;
    }
  }

  .post-content > p:first-of-type {
    font-size: 1.5em;
    padding-top: 18px;

    small {
      font-size: 70%;
    }
  }

  p, ol, ul {
    font-size: 1.2em;
    font-weight: 300;

    code {
      @include box-shadow(0 1px 2px rgba(0,0,0,0.05));

      font-size: 0.8em;
      padding: 5px 8px;
      margin: 0 3px;
      position: relative;
      top: -1px;
      border-radius: 3px;
      background: lighten($app, 8);
      white-space: normal;
    }
  }

  ol {
    color: darken($app, 20);

    li {
      margin-bottom: 0.5em;
      span { color: darken($app, 70); }
    }
  }
}

@media (max-width: 767px) {
  .post header .meta {
    font-size: 24px;
  }
  .post header h1 {
    font-size: 36px;
  }
}

@import "cassette";
